
<template>
	<div>
		<div class="col card-col flip-container" v-for="card in cards">
		    <div class="card" :class="[card.classes, {'weapon-card' : type == 1}]" @click="handleCardClick(otherPlayersData[key].id,card,0)">
		        {{card.name}}
		    </div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["cards", "type"],
	}
</script>