.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/*Flip Reveal*/

	/* flip speed goes here */
	.flipper {
		transform-style: preserve-3d;
		animation-name: flipReveal;
		animation-duration: 1s;
		/*animation-iteration-count: 1;*/
	}

	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;
	}

	/* front pane, placed above back */
	.front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	}

	/* back, initially hidden pane */
	.back {
		transform: rotateY(180deg);
	}

	@keyframes flipReveal {
		0% {
			transform: rotateY(-180deg);
		}
		100% {
			transform: rotateY(0);
		}
	}

/*Blink*/
    .blink {
        animation-name: blink;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-timing-function: linear;
    }

	@keyframes blink {
        0%   {opacity: 1;}
        50%  {opacity: 0.5;}
        100% {opacity: 1;}
    }
