
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

a {
    color: inherit;
}

body {
    font-family: 'Modern Antiqua', cursive;
}

img {
    max-width: 100%;
    height: auto;
}

.text-red {
    color: #ee3355;
}

.va-top {
    vertical-align: top;
}
.va-mid {
    vertical-align: middle;
}
.va-bot {
    vertical-align: bottom;
}

.font-1 {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 3px;
    font-weight: bold;
}

.btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
}

.btn.type-1 {
    background-image: url('/static/images/buttons/type1.png');
    background-size: 100% 100%;
    min-width: 200px;
    min-height: 50px;
    color: rgba(255,255,255,0.9);
    font-size: 21px;
}

.container {
    width: 750px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Home page*/

    #home {
        color: #fff;
    }

    .register-box {
        z-index: 99;
        position: fixed;
        display: table;
        width: 100%;
        height: 100%;
    }

    .register-box > .inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .register-box .form-box {
        background-image: url(/static/images/buttons/frame-bg.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        border: 3px solid #111;
    }

    .register-box .form-box .btn {
        background-image: url(/static/images/buttons/submit-btn.jpg);
        color: #fff;
        height: 50px;
        float: left;
        font-size: 21px;
        text-transform: uppercase;
    }

    .register-box .form-box .input {
        color: #fff;
        height: 50px;
        width: 400px;
        font-size: 24px;
        padding-left: 25px;
        float: left;
    }

    .input {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .input.borderless {
        background: none;
        border: none;
        outline: none;
    }

    .home-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url('/static/images/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home-bg:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        animation-name: background;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        z-index: -1;
    }

    #home .container {
        position: fixed;
        bottom: 100px;
        left: 50%;
        -webkit-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
        transform:translateX(-50%) ;
        text-align: center;
        z-index: 999;
    }

    .home-room-list {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .info-box {
        position: fixed;
        left: 0.5%;
        bottom: 0.5%;
        width: 25%;
        height: 20%;
        border-radius: 5px;
        color: #fff;
        /*border: 1px solid #666;*/
    }
    
    .info-box > .row {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .info-box > .row > .col {
        padding: 7.5px;
        height: 100%;
        position: relative;
    }

    .info-box img {
        box-shadow: 0 0 6px 1px #aaa;
        width: 100%;
    }

    .info-box .logs {
        font-size: 14px;
        line-height: 1.5;
        overflow-y: auto;
        padding-left: 15px;
    }

    .info-box .vote-badge {
        width: 42px;
        margin-left: 4px;
        position: absolute;
        left: -10px;
        display: block;
        z-index: 99;
        top: -15px;
    }
    .info-box .vote-badge img {
        border-radius: 8px;
    }

    .info-box .vote-badge img.focused {
        box-shadow: 0 0 15px 2px #ee3355;
    }

    #btn-create-game {
        height: 35px;
    }

/*Game page*/

    #btn-start-game {
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 35px;
        width: 200px;
        margin: auto;
    }

    #game {
        background: url(/static/images/game-background.jpg);
        background-size: 100% 100%;
        color: #fff;
    }

    .player {
        width: 22%;
        height: 26%;
        position: absolute;
    }

    .player div {
        height: 100%;
    }

    .player .player-name, .player .player-role {
        display: block;
        text-align: center;
    }
    .player .player-name {
        font-size: 21px;
        color: #bebebe;
    }
    .player .player-role {
        font-size: 12px;
    }

    .player0 {
        bottom: 3%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .player1 {
        left: 0.5%;
        top: 0.5%;
    }

    .player2 {
        left: 0.5%;
        top: 33%;
    }

    .player3 {
        left: 25%;
        top: 0.5%;
    }

    .player4 {
        left: 50%;
        top: 0.5%;
    }

    .player5 {
        right: 0.5%;
        top: 0.5%;
    }

    .player6 {
        right: 0.5%;
        top: 33%;
    }

    .player7 {
        right: 0.5%;
        top: 66%;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    
    .row.row-table {
        display: table;
        /*width: 100%;*/
        table-layout: fixed;
    }

    .clearfix:before, .row:before, .clearfix:after, .row:after {
        content: '';
        display: block;
    }

    .col {
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }

    .row.row-table .col {
        float: none;
        display: table-cell;
    }
    
    .focusable {
        transition: 0.5s all;
        cursor: pointer;
    }

    .text-focusable {
        transition: 0.3s all;
        cursor: pointer;
    }
    
    .text-focusable:hover {
        color: #ee2214;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .player .card-group {
        height: 50%;
    }

    .player .card-group .card-col {
        width: 25%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .player .card-group .card:hover, .player .card-group .card.selected, .focusable:hover, .focusable.focused  {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
        box-shadow: 0 0 4px 1px #fff6b5;
    }

    .player .card-group .card {
        display: block;
        background-size: 100% 100%;
        width: 100%;
        cursor: pointer;
        transition: 0.5s all;
        font-size: 10px;
        padding: 7px;
        z-index: 9;
        position: relative;
    }

    .player .card-group .card.pinged {
        box-shadow: 0 0 5px 1px red;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    .player .weapon-card {
        background-image: url('/static/images/cards/player-card-blue.jpg');
    }

    .player .evidence-card {
        background-image: url('/static/images/cards/player-card-red.jpg');
    }

    .player img.card-image {
        z-index: -1;
        position: absolute;
        max-width: 100%;
        max-height: calc(100% - 35px);
        left: 0;
        top: 20px;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 0 12px;
    }

    /* Game content at center of the screen*/

        .center-game-block {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: table;
            z-index: -1;
        }
        .center-game-block .inner {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .game-message {
            font-size: 1.2em;
        }

        .game-message span {
            display: block;
            margin-bottom: 10px;
        }

        .hint-cards {
            perspective: 1000px;
        }

        .hint-card {
            transform: rotateY(-180deg);
            animation-fill-mode: forwards;
            width: 7.6%;
            height: 180px;
            padding: 10px;
            border-radius: 5px;
            font-size: 12px;
            background: brown; 
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.75%;
            color: #f35a0e;
            background: url(/static/images/cardbg-2.jpg);
            background-size: 100% 100%;
            background-position: center center;
        }

        .hint-card:first-child {        
            color: #017f1e;
        }

        .hint-card:nth-child(2){
            color: #8a2cc9;
        }

        .hint-card .hint-name {
            height: 37px;
            display: table;
            width: 100%;
            font-size: 1.1em;
            margin-bottom: 3px;
        }

        .hint-card .hint-name > .inner {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .hint-card .slot {
            color: #fff;
            font-size: 0.95em;
            height: 1.7em;
            line-height: 1.7em;
            white-space: nowrap;
            -webkit-transition: 0.35s all;
            transition: 0.35s all;
            cursor: pointer;
        }

        .hint-card .slot.selected, .hint-card .slot:hover {color: #ee3355;}

        .hint-card:nth-child(1){
            animation-delay: 0.75s;
        }
    
        .hint-card:nth-child(2){
            animation-delay: 1s;
        }

        .hint-card:nth-child(3){
            animation-delay: 1.25s;
        }

        .hint-card:nth-child(4){
            animation-delay: 1.5s;
        }

        .hint-card:nth-child(5){
            animation-delay: 1.75s;
        }

        .hint-card:nth-child(6){
            animation-delay: 2s;
        }

        .btn-list {
            margin-top: 12px;
        }
