@media (min-width: 1600px){
	.player {
		width: 21.5%;
	}
	
	.player .card-group .card {
		font-size: 13px;
	}

	.hint-card {
		width: 7%;
		height: 220px;
		font-size: 15px;
	}

	.hint-card .hint-name {
		height: 45px;
	}

	.hint-card .slot {
		line-height: 25px;
		height: 25px;
	}
}