<template>
    <div ref="root" id="game" class="home-bg" v-if="room">

        <div class="players">
            <div class="player player0" v-if="yourInfo">

                <div v-if="yourData">
                    <div v-if="yourRole.codename != 'FS'">
                 
                        <div class="row card-group">
                            <div class="col card-col" v-for="card in yourData.weaponCards">
                                <div class="card weapon-card" :class="[card.classes, {pinged: card.isPinged}]" @click="handleCardClick(yourData.id,card,0)">
                                    {{card.name}}
                                    <img :src="'/static/images/cards/weapons/' + slugify(card.name) + '.png'" alt="" class="card-image">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row card-group">
                            <div class="col card-col" v-for="card in yourData.evidenceCards">
                                <div class="card evidence-card" :class="[card.classes, {pinged: card.isPinged}]" @click="handleCardClick(yourData.id,card,1)">
                                   {{card.name}}
                                   <img :src="'/static/images/cards/evidence/' + slugify(card.name) + '.png'" alt="" class="card-image">
                                </div>
                            </div>
                        </div>

                    </div>
                    <img v-else :src="'/static/images/roles/' + yourData.role.codename + '.jpg'" :alt="yourData.role.name" style="height: 100%;display: block;margin: auto;">
                </div>

                <span class="player-name">{{yourInfo.playerName}}</span>
            </div>

            <div class="player" v-if="otherJoinedClientsInfo" :class="'player' + (parseInt(index) + 1)" v-for="(player, key, index) in otherJoinedClientsInfo">

                <div v-if="otherPlayersData && !otherPlayersData[key].role || ( otherPlayersData && otherPlayersData[key].role && otherPlayersData[key].role.codename != 'FS')">
                    <div class="row card-group">
                        <div class="col card-col" v-for="card in otherPlayersData[key].weaponCards">
                            <div 
                                class="card weapon-card" 
                                :class="[
                                    card.classes, 
                                    {pinged: card.isPinged || (gameData && gameData.murdererPick && card.cardId == gameData.murdererPick.weaponId)}
                                ]"
                                @click="handleCardClick(otherPlayersData[key].id,card,0)"
                            >
                                {{card.name}}
                                <img :src="'/static/images/cards/weapons/' + slugify(card.name) + '.png'" alt="" class="card-image">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row card-group">
                        <div class="col card-col" v-for="card in otherPlayersData[key].evidenceCards">
                            <div 
                                class="card evidence-card" 
                                :class="[
                                    card.classes, 
                                    {pinged: card.isPinged || (gameData && gameData.murdererPick && card.cardId == gameData.murdererPick.evidenceId)}
                                ]"
                                @click="handleCardClick(otherPlayersData[key].id,card,1)"
                            >
                               {{card.name}}
                               <img :src="'/static/images/cards/evidence/' + slugify(card.name) + '.png'" alt="" class="card-image">
                            </div>
                        </div>
                    </div>
                </div>
                
                <img v-if="otherPlayersData && otherPlayersData[key].role && otherPlayersData[key].role.codename == 'FS'" :src="'/static/images/roles/' + otherPlayersData[key].role.codename + '.jpg'" :alt="yourData.role.name" style="margin-bottom: 10px;height: 100%;display: block;margin: auto;">

                <span class="player-name" @click="playerNameClick(player.clientId)" :class="{'text-focusable': currentPhase == 'MurdererLastChance'}">{{player.playerName}}                   
                </span>
                <small class="player-role" v-if="otherPlayersData && otherPlayersData[key].role">
                    <em>{{otherPlayersData[key].role.name}}</em>
                </small>
            </div>
        </div>

        <div class="center-game-block">
            <div class="inner">
                <h2 class="game-message blink">
                    <span v-for="message in gameMessage" :class="message.classes">{{message.content}}</span>
                </h2>

                <div class="hint-cards" v-if="gameData">
                    <div class="hint-card flipper" v-for="(card, cardIndex) in gameData.hintCards" :class="{focusable: (misc.isCardChanging && yourRole.codename == 'FS')}" @click="changeHintCard(cardIndex)">
                        
                        <div class="front">
                            <h3 class="hint-name">
                                <span class="inner">{{card.hintName}}</span>
                            </h3>
                            <div class="slot" :class="{selected: slotIndex == card.selected}" v-for="(slot, slotIndex) in card.slots" @click="hintCardClick(cardIndex, slotIndex)">
                                {{slot}}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="btn-list" v-if="currentPhase && yourData">
                    <button v-if="misc.isMurdererPicking" @click="murdererPickConfirm" class="btn type-1 font-1 murderer-confirm">
                        Pick
                    </button>

                    <button v-if="isNextPhaseBtnVisible" @click="nextPhase" class="btn type-1 font-1">
                        Next phase
                    </button>

                    <button v-if="misc.isConvicting && yourData.isVoteable == true" @click="convict" class="btn type-1 font-1">
                        Convict
                    </button>

                    <button v-if="currentPhase == 'EndGame' && isHost" class="btn type-1 font-1" @click="restartGame">New Game</button>
                </div>
            </div>
        </div>

        <div class="info-box" v-if="gameData && yourData">
            <div class="row">
                <div class="col" style="width: 30%" v-if="yourRole.codename != 'FS'">
                    <img :src="'/static/images/roles/' + yourData.role.codename + '.jpg'" :alt="yourData.role.name">

                    <div v-if="isVoteable" class="vote-badge" @click="toggleConvict">
                        <img src="/static/images/buttons/vote-badge.png" class="focusable" :class="{focused: misc.isConvicting}" >
                    </div>
                </div>
               
                <div class="col" style="width: 70%">
                    <div class="logs" v-if="gameData">
                        <strong class="text-red">---- LOGS ----</strong>
                        <div class="log" v-for="log in gameData.logs" v-html="log"></div>
                    </div>
                </div>
            </div>
        </div>

        <button @click="startGame" v-if="isHost && room && room.isStarted == false" id="btn-start-game" class="btn type-1 font-1">
            START
        </button>
    </div>
</template>

<script>

    import Game         from '@/mixins/game.js'

    import PlayerCard   from '@/components/cards/player-card'

    export default {
        data() {
            return {
                room: null,
                gameMessage: [],
            }
        },
        components: {PlayerCard},
        mixins: [Game],
        computed: {
            isHost(){
                if (this.room){
                    return (this.room.hostId == this.$store.state.clientData.clientId)
                }
            },
            otherJoinedClientsInfo(){
                if (this.room){
                    // Clone object to avoid delete original data
                    let otherJoinedClientsInfo = JSON.parse(JSON.stringify(this.room.joinedClients));

                    delete otherJoinedClientsInfo[this.$store.state.clientData.clientId];
                    return otherJoinedClientsInfo;
                }
            },
            yourInfo(){
                return this.$store.state.clientData;
            },
        },
        methods: {
            getRoom(){
                this.$VSocket.emit("getRoom", this.sendData , room => {
                    
                    this.room = room;
                    if (room && room.isStarted == true) {
                        this.refreshAllGameData();
                    }
                    return room;
                });
            },
            joinRoom(){
                this.$VSocket.emit("joinRoom", {roomId: this.$route.params.id}, response => {
                    if (!response) {
                        this.$router.replace({ name: 'Home' });
                    }
                });
            },
            restartGame(){
                this.$VSocket.emit("resetRoom", {roomId: this.$route.params.id});
            },
            startGame(){
                this.$VSocket.emit("startRoom", {roomId: this.$route.params.id});
                this.room.isStarted = true;
            },
            slugify(str){
                if (!str) return '';
                str.trim();
                return str.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
            }
        },
        created(){
            
            document.addEventListener('beforeunload', () => {
                this.$VSocket.emit("quitRoom", this.sendData);
            });

            this.$VSocket.ready(socket => {
                
                this.joinRoom();

                socket.register("getRoom", this.getRoom);
                socket.register("resetRoom", () => {
                    this.misc = {};
                    this.room    = null;
                    this.gameData = null;
                    this.yourData = null;
                    this.otherPlayersData = null;
                    this.selectedCardIDs = [];
                    this.selectedCardDestination = null;
                    this.gameMessage = [];
                    this.getRoom();
                })
            });
        },
        beforeRouteLeave (to, from, next) {
            let sendData = {
                roomId: from.params.id,
                clientId: this.$store.state.clientData.clientId,
            };
            this.$VSocket.emit("quitRoom", sendData);
            next();
        }
    }
</script>
