<template>
    <div id="home" class="home-bg">

        <transition name="fade">
            <div class="register-box" v-if="clientData && clientData.playerName == undefined">
                <div class="inner">
                    <form @submit.prevent="registerPlayer" class="form-box clearfix">
                        <input type="text" class="input borderless" v-model="form.playerName" placeholder="Enter Your Name">
                        <button class="btn type-1" type="button" @click="registerPlayer"></button>
                    </form>
                    
                </div>
            </div>
        </transition>

        <transition name="fade">
            <div v-if="clientData && clientData.playerName">
                <logo></logo>
                <div class="container">
                    <h1>Welcome {{clientData.playerName}}</h1>
                    <room-list class="home-room-list"></room-list>
                    <button @click="createRoom" id="btn-create-game" class="btn type-1 font-1">
                        CREATE ROOM
                    </button>
               </div>
            </div>
        </transition>
    </div>
</template>

<script>

    import { mapGetters } from 'vuex'

    import Logo     from '@/components/logo'
    import RoomList from '@/components/room-list'

    export default {
        data(){
            return {
                form: {},
            }
        },
        components: {
            Logo,
            RoomList
        },
        computed: {
            ...mapGetters([
              'clientData',
            ])
        },
        methods:{

            createRoom(){
                this.$VSocket.emit("createRoom");
            },
            registerPlayer(){
                let vm = this;

                this.$VSocket.emit("registerPlayer", {playerName: this.form.playerName}, function(data){
                    // console.log(data);
                    vm.$session.set('clientData', data);
                    vm.$store.commit('setClientData', data);
                });
            }
        },
    }
</script>