<style>
    
    .logo {
        position: fixed;
        top: -100px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .logo img {
        position: static;
    }

    .logo .board {
        z-index: 9;
        animation-name: shittyboardanimation;
        animation-duration: 1.25s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        top: -150px;
    }

    .logo .chain {
        position: absolute;
        top: -100px;
        z-index: -1;
        animation-name: shittychainanimation;
        animation-duration: 1.2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }

    .logo .chain-1 {
        left: 25px;
    }

    .logo .chain-2 {
        right: 25px;
        animation-duration: 1.1s;
    }


    @keyframes shittyboardanimation {
        0%   { 
            -webkit-transform: rotate(0) translateY(0);
            -ms-transform: rotate(0) translateY(0);
            -o-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
        }
        100% { 
            -webkit-transform: rotate(-6deg) translateY(150px) translateX(-8px);
            -ms-transform: rotate(-6deg) translateY(150px) translateX(-8px);
            -o-transform: rotate(-6deg) translateY(150px) translateX(-8px);
            transform: rotate(-6deg) translateY(150px) translateX(-8px); 
        }
    }

    @keyframes shittychainanimation {
        0%   { 
            -webkit-transform: translateY(-300px);
            -ms-transform: translateY(-300px);
            -o-transform: translateY(-300px);
            transform: translateY(-300px);
        }
        100% { 
            -webkit-transform: translateY(100px);
            -ms-transform: translateY(100px);
            -o-transform: translateY(100px);
            transform: translateY(100px); 
        }
    }
    
</style>

<template>
    <div class="logo">       
        <img src="/static/images/chain.png" class="chain chain-1">

        <img src="/static/images/chain.png" class="chain chain-2">
    
        <img src="/static/images/boardlogo.png" class="board" alt="Deception: Murder in Hong Kong Online">
    </div>
</template>