<style scoped>
    .room-list {
        background-image: url(/static/images/buttons/frame-bg.jpg);
        background-size: 100% 100%;
        padding: 50px;
        border: 1px solid #111;
        border-radius: 5px;
        height: 400px;
        overflow-y: auto;
    }

    .room-list .title {
        font-size: 40px;
        color: #fff;
    }

    .room-list .room {
        padding: 10px 15px;
    }
</style>

<template>
	<div class="room-list">
        <h2 class="title">Available rooms</h2>

		<div class="room" v-if="rooms" v-for="(room, key) in rooms">
            <p v-if="room">
    			Phòng {{room.roomId}} ({{room.hostName}})
                <router-link :to="{name: 'Game', params: {id: room.roomId}}">Let's roll</router-link>
            </p>
		</div>
	</div>
</template>

<script>
	    
    export default {
    	name : 'RoomList',
    	data() {
    		return {
    			rooms: null,
    		}
    	},
    	methods:{
		    getRooms(){
                let vm = this; 
                this.$VSocket.emit("getRooms", function(rooms){
                    vm.rooms = rooms;
                });
            },
    	},
    	mounted(){
            let vm = this;
            this.$VSocket.ready((socket) => {
                socket.register("getRooms", this.getRooms); 
                this.getRooms();
            });
    	}
    }

</script>