<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>
import "@/assets/css/game.css";
import "@/assets/css/responsive.css";
import "@/assets/css/animation.css";

export default {
    name: "App",
};
</script>
